
.nav_content
{
  height: 4rem;
  background-color: #fdf1f1;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  flex-direction: row;
  justify-self: left;
  position: fixed;
  z-index: 2000;
  top: 0;
  width: 100%;

}
 .navlinks
{
  background-color: #fdf1f1;
  padding-right: 3.5rem;
  font-size: large;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  column-gap: 3.5rem;
  flex-direction: row;
} 


.logo
{
padding-left: 2rem;
  top:0;
  bottom: 0;
  font-size: large;
  font-weight: 600;
}

