@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root {
 color: black;
 background-color:#fdf1f1;

}

*
{
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

section{
  width: 100vh;
  height: 100vh;
}
a {
  font-weight: 600px;
  color: inherit;
  text-decoration: none;
}
style
{
  background: #e3e2e4 ;
}




::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b2b4a6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e3e2e4; 
}