/* tandc.css */

.terms-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.terms-content {
  background-color: #154c79;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro {
  font-size: 18px;
  margin-bottom: 20px;
}

.content {
  font-size: 16px;
  line-height: 1.6;
}

