
.about-container
{
 /* color: white; */
  width: 100%;
  height: 250vh;
  /* background-color: #fdf1f1; */
}
.image-home
{
  background-size: cover;
  display: flex;
  width:201vh;
  height: 118vh;
  display: block;
 filter: brightness(50%);
  background-color: #00000076;

}
.about-unlist
{
  position: relative;
  top: -37rem;
}
.list-heading
{
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(6, 6, 6);
 
  
}
.sub-heading
{
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  top:-35rem;
   left: 7.5rem;
   color: azure;
   text-shadow: 2px 2px 2px rgb(6, 6, 6);
}
.about-btn
{
  position:relative;
  top: -33rem;
  left: 7.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 6rem;
  height: 3rem;
  border-radius: .2rem;
  border: none;
  color: rgb(8, 8, 8);
  opacity: 0.9;
  background-color: #3fc29ad4;
}
.div1
{
  width: 100%;
  height: 118vh;
}
.div2
{
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
  
}

.div2-container
{
  width: 100%;
  height: 80vh;
  position: relative;
  top: 10rem;
  /* background-color: aliceblue; */
}

.div2-heading
{
  position: relative;
  top: 3rem;
  left :2rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.image-content
{
  width: 24rem;
  height: 65vh;
  position: relative;
  left: 2rem;
  top: 2.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(220, 216, 212);
  border:solid;
  border-color: rgba(211, 207, 207, 0.922);
  
  /* background-color: rgb(11, 15, 15); */
}
.total
{
  position: relative;
  left:2rem;
  height: 20rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.description
{
   
  border-width: 2px;
  border-color: black;
  padding-left: 0;
  height: 40rem;
  width: 22rem;
  color: black
  
}
.descriptio{
  padding-top: 1rem;
  width: 24rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 20px;
  font-style: normal;
}

.classes-png-tit
{
  font-size: 2rem;
}
/* .classes-png-tit:hover{
  text-decoration: line-through;
} */
.div2-card-imgg{
  
  /* height: 40rem; */
  background-size: auto;
  border-radius: .1rem;
}
.div2-card-img:hover
{
  opacity: 0.7;
  transition: 0.1ms;
  transition-duration: 0.3ms;
}

.div3
{
  position: relative;
  top:10rem;
  height: 30rem;
}

.marquee-div {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.img-div
{
  display: flex;
  flex-direction: row;
  gap:.2rem;
}
.div2-card-img
{
  height: 10rem;
  width: 20rem;
}
.div3{
  height: 60vh;
  width: auto;
}
.div3-title
{
  top: -6rem;
  font-size: 3rem;
  position: relative;
  left: 30rem;
  padding-bottom: 1rem;

}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
  top: -4rem;
  
}
.div3-container
{
  margin-bottom: 2rem;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

.div-4
{
  height: 40rem;
  background-color:  rgba(0,58,103,255);
  color: white;
}
.div-4-heading
{
  position: relative;
  top: 2rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-align: center;
}
.div-4list
{
  position: relative;
  top: 9rem;
  height: 20rem;
  /* width: 40rem; */
  display: flex;
  flex-direction: row;
  gap:3.3rem;
}
.div-4list1
{
  height: 15rem;
  width: 40vh;
  position: relative;
  left: 2.1rem;
  
}
.div-4-heading-head
{
  position: relative;
  left: 5.6rem;
  top: -2rem;
  font-size: 50px;
  font-weight: 600;
  border-radius: 4rem;
  background-color: rgba(0, 255, 255, 0.516);
  padding-top: 1.4rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: .5rem;
  width: 7rem;
  height: 7rem;
}
.achivement
{
  text-align: center;
  font-size: 1rem;
  line-height: 160%;
}
.achivement-head
{

  position: relative;
  left: 3.3rem;
  font-size: 1.7rem;
  padding-bottom: .7rem;

}

.div-5
{
  position: relative;
  top: 16rem;
  height: 17rem;
 
}